researcher:
  planner: "gpt-4o-mini"
  searcher: "gpt-4o-mini"
  writer: "gpt-4o-mini"
  reasoning_effort: "high"

coder:
  developer: "gpt-4o-mini"
  debugger: "gpt-4o-mini"
  reasoning_effort: "high"
  save_prompts: true

# General Settings
query: null
max_iterations: 1
checkpoint_interval: 1
checkpoint: "ckpt"
log_level: "INFO"
log_dir: null

workspace: examples
problem: null
search_time_bias: true
max_research_reflect: 1
max_coding_reflect: 1
max_debug_retry: 5
# Database Configuration
database:
  random_seed: null
  db_path: null
  in_memory: true
  population_size: 25 # total maintained for random
  archive_size: 5 # elite for exploitation
  num_islands: 1
  migration_interval: 25
  migration_rate: 0.1
  elite_selection_ratio: 0.1
  exploration_ratio: 0.2
  exploitation_ratio: 0.7
  feature_dimensions:
    - "score"
    - "diversity"
    - "complexity"
  feature_bins: 10
  n_inspirations: 2


hydra:
  job_logging:
    disable_existing_loggers: false
  job:
    chdir: false
  run:
    dir: .
  output_subdir: null

defaults:
  - _self_